<div class = "alll">
{{#if user}}

<nav class="navbar navbar-light bg-light justify-content-between fixed-top">
  <a class="navbar-brand" id = "navbarTitle">On The Move</a>
  <a href = "/cities" class = "navbarCities">All Cities</a>
  <form class="form-inline">
  <a class="navbar-brand" id = "navbarName" href = "/users/{{user._id}}">{{user.username}}</a>
  </form>
      <a class="navbar-brand" id = "navbarName" href = "/logout">Logout</a>

</nav>
{{/if}}

<div class = "citiesTitle">
<h1> Cities</h1>

</div>

{{!-- {{#if user}}
<div>


  <a href="/users/{{user._id}}">{{user.username}}</a>
</div>
{{/if}} --}}



<ul class="listOfCities">
  {{#each cities}}
  <div id=cities>
    <li class="cityNames">
      <h3>{{this.city}}</h3>
    </li>
    <li>
      <a href="/cities/{{this._id}}"><img class="cityImages" src="{{this.image}}"></a>
    </li>
  </div>


  {{/each}}
</ul>
</div>

