

<label>City:</label>  {{city.city}}
<br>
<label>Country:</label>{{city.country}}
<br>
<label>Population:</label>{{city.population}}
<br>
<label>Summary:</label>{{city.shortSummary}}
<br>
<label>Average Monthly Rent:</label>{{city.averageRent}}
<br>
<label>Average Nightly airBnB:</label>{{city.averageAirbnb}}
<br>
<label>User Reviews:</label>
<ul>
  {{#each reviews}}
    <li>{{this.realReviewer}} <a href = "/cities/{{../city._id}}/reviews/{{this.id}}"> {{#if this.lived}}Lived{{/if}}{{#unless this.lived}}Visited{{/unless}}</a>,{{this.rating}}/10</li>
  {{/each}}
</ul>

<br>
<a href = "/cities/{{city._id}}/reviews/new">Add a Review</a> 



<br>
<a href = "/cities">View all Cities</a>
