
{{user.username}}'s Review

<br>
{{ review.lived}} 
<br>
{{review.rating}} / 10
<br>
{{review.food}}
<br>
{{review.sights}}
<br>
{{review.nightlife}}
<br>
{{review.comments}}
<br>
<a href = "/reviews/{{review._id}}/edit">Edit Review</a>

<form action="/cities/{{cityId}}/reviews/{{review._id}}/delete" method="post">
      <button> Delete this review</button>


<a href = "/cities/{{cityId}}">Go Back</a>
{{!--  --}}

