{{#if user}}

<nav class="navbar navbar-light bg-light justify-content-between fixed-top">
  <a class="navbar-brand" id = "navbarTitle">On The Move</a>
  <a href = "/cities" class = "navbarCities">All Cities</a>
  <form class="form-inline">
  <a class="navbar-brand" id = "navbarName" href = "/users/{{user._id}}">{{user.username}}</a>
  </form>
    <a class="navbar-brand" id = "navbarName" href = "/logout">Logout</a>

</nav>
{{/if}}


<div class="cityDetails">
  <div class="detailsOfTheCity">
<br>
<b>Lived Or Visited : </b>{{#if review.lived}}Lived{{/if}}{{#unless review.lived}}Visited{{/unless}}
<br>
<b>Rating: </b>{{review.rating}} / 10
<br>
<b>Favorite Places to Eat:       </b>   {{review.food}}
<br>

<b>Sights Worth Seeing: </b>{{review.sights}}
<br>
<b>Nightlife Worth Exploring: </b>{{review.nightlife}}
<br>
<b>Additional Information:</b>{{review.comments}}
<br>
<br>
<br>
{{#if isReviewer}}
<button class = "btn btn-primary" id = "homebutton"><a href = "/reviews/{{review._id}}/edit">Edit Review</a></button>
<br>
<br>
{{!-- <br> --}}
<form action="/cities/{{cityId}}/reviews/{{review._id}}/delete" method="post">
      <button class = "btn btn-primary" id = "homebutton"> Delete this review</button>
</form>      
{{/if}}
<br>
<br>
<button class = "btn btn-primary" id = "homebutton"><a href = "/cities/{{cityId}}">Go Back</a></button>
{{!--  --}}
</div>
</div>

