
{{user.username}}'s Review

<br>
{{ review.lived}} 
<br>
{{review.rating}} / 10
<br>
{{review.food}}
<br>
{{review.sights}}
<br>
{{review.nightlife}}
<br>
{{review.comments}}
<br>
<a href = "/reviews/{{this._id}}">Edit Review</a>



<a href = "/cities/{{cityId}}">goBack</a>
{{!--  --}}

