<form action = "/reviews/{{reviewId}}/edit" method = "post">
    <label for = "title-input">Title</label>

    {{!-- value => to prefill the form  --}}

    {{!-- value = {{movie.title}} since we are passing whole movie object to the view, we can use value attribute to pre-fill the form  --}}

    <input type = "text" name = "editedTitle" id ="title-input" value = "{{movie.title}}">

    <label for = "genre-input">Genre</label>
    <input type = "text" name = "editedGenre" id ="genre-input" value = "{{movie.genre}}">

    <label for = "plot-input">Plot</label>
    <input type = "text" name = "editedPlot" id ="plot-input" value = "{{movie.plot}}">

    <label for = "cast-input">Cast</label>

    {{#each celebrities}}
    <label><input type = "checkbox" name = "newCast" id="cast-input" value="{{this._id}}">{{this.name}}</label>
    {{/each}}
    <button type = "submit">Create!</button>

    
    <button type = "submit">Save Changes</button>

</form>
